<mat-card>
    <mat-card-title >Forgot Password</mat-card-title>
      <mat-card-content>
          <p>
                Please enter your email address to request a password reset.
          </p>
          <p>
            <mat-form-field>
                <input matInput type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </mat-form-field>
          </p>
          <div class="button">
              <button mat-raised-button (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
          </div>
    </mat-card-content>
</mat-card>

<!-- redirect to login -->