<ul class="list-unstyled components" style="margin-top: 30px;">
        <li>
            <a  href="#"> 
                <fa-icon [icon]="faFileUpload"></fa-icon>
                Upload file
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="faFolderOpen"></fa-icon>
                Upload folder
            </a>
        </li>
        <li>
            <a href="#">
                <fa-icon [icon]="faFolderPlus"></fa-icon>
                Create folder
            </a>
        </li>
    </ul>
