
    <mat-list role="list">
        <mat-list-item role="listitem">
            <button mat-button  (click) = "onFileUploadClicked()" style="color:steelblue"> 
                <fa-icon [icon]="faFileUpload"></fa-icon>
                Upload file
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button style="color:steelblue">
                <fa-icon [icon]="faFolderOpen"></fa-icon>
                Upload folder
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button style="color:steelblue">
                <fa-icon [icon]="faFolderPlus"></fa-icon>
                Create folder
            </button>
        </mat-list-item>
      </mat-list>