
    <mat-list role="list">
        <mat-list-item role="listitem">
            <a  href="#"> 
                <fa-icon [icon]="faFileUpload"></fa-icon>
                Upload file
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="#">
                <fa-icon [icon]="faFolderOpen"></fa-icon>
                Upload folder
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="#">
                <fa-icon [icon]="faFolderPlus"></fa-icon>
                Create folder
            </a>
        </mat-list-item>
      </mat-list>