<!-- <div class ="col-md-9">
<table class="table">
            <tr>
                
                <th scope="row"></th>

                <td *ngFor="let item of fileList ">
                    <p><fa-icon [icon]="faFile" size="3x"></fa-icon></p>
                    <a  [href] = "downloadURLs[item] | async"  target="_blank" rel="noopener">{{item}}</a>
                </td> 

              </tr>
        </table>

</div> -->
<div class ="col-md-9">
    <ul style="list-style-type:none;">
        <li *ngFor="let item of fileList ">
            <p>
                <fa-icon [icon]="faFile" size="3x"></fa-icon>
                <a  [href] = "downloadURLs[item] | async"  target="_blank" rel="noopener">   {{item}}</a>
            </p>
            
        </li>
                    
        </ul>
        <!-- <button type="button" (click) = "testFileList()">test file list </button> -->
</div> 

<div class= "col-md-3">
    <app-file-management-sidebar></app-file-management-sidebar>
</div>