<div class="container">
    <div class="col-md-8">
        <hr>
        <table class="table">
            <tr>
                <!--change this to add depending on current files numer-->
                <th scope="row"></th>
                <td>
                    <p><fa-icon [icon]="faFile" size="3x"></fa-icon></p>
                    <p>File1</p>
                </td>
                <td>
                    <p><fa-icon [icon]="faFile" size="3x"></fa-icon></p>
                    <p>File2</p>
                </td>
                <td>
                    <p><fa-icon [icon]="faFile" size="3x"></fa-icon></p>
                    <p>File3</p>
                </td>
                <td>
                    <p>
                        <fa-icon [icon]="faFile" size="3x" ></fa-icon>
                    </p>
                    <p>File4 </p>
                </td>
              </tr>
        </table>
        <button class="button" (click) = "filesService.createFile( testFile )">Add something</button>
    </div>
</div>
