.two_chars{
    font-family: monospace;
    width: 2ch;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .large{
    font-size: 2em;
  }

  .img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 90%;
  }