<div  fxLayout="row"style="margin-top: 2%;margin-left:2%" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
    <div fxFlex="90%">
        <h2 >Welcome to MyDropbox!</h2>
        <p >MyDropbox is an app that allows you to upload and store files. 
        You can sign up or log in using "Account" button in the top right corner.
        After you log in/sign up you may have to wait a few seconds for your 
            authentication to finish. 
            After that you can go to Menu-> Files and manage your files.</p>

        <p> To see uploaded file refresh the page.</p>
        
        <p>If you are using browser on your mobile phone you may ancounter problems uploading files.</p>
    
    </div>
</div>