<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color:#7386D5" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list > 
      <a mat-list-item routerLink = "/main">Main</a>
      <a mat-list-item routerLink = "/files">Files</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-fill-remaining-space"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
          Account<span class="caret"></span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onCreateLogin()">Log in</button>
          <button mat-menu-item (click)="onCreateSignUp()">Sign up</button>
          <button mat-menu-item (click)="authService.SignOut()">Log out</button>
        </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
