<mat-card style = "width:inherit; height: inherit;">
  <mat-card-title >Sign up</mat-card-title>
  <mat-card-content>
    <form >
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="E-mail" formControlName="email" #userEmail required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" #userPwd required> 
        </mat-form-field>
      </p>

 
      <div class="button">
        <button  mat-raised-button (click)="authService.SignUp(userEmail.value, userPwd.value)" >Sign up</button>
      </div>
      <p></p>
      <p>Or</p>
      <div class="button">
        <button class="btn googleBtn" (click)="authService.GoogleAuth()"> 
          Continue with Google</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
