@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


#sidebar.active {
    width: inherit;
}


a{
    color:white;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    width: inherit;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}



