<!-- <mat-card>
  <mat-card-title >Log in</mat-card-title>
    <mat-card-content>
      <form>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="E-mail" formControlName="email" #userEmail required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" #userPassword required> 
          </mat-form-field>
        </p>

        <div class="button">
          <button  mat-raised-button (click)="authService.SignIn(userEmail.value, userPassword.value)" >Log in</button>
        </div>
        <p></p>
        <p>Or</p>

        <div class="button">
          <button class="btn googleBtn" (click)="authService.GoogleAuth()"> 
            Continue with Google</button>
        </div>
        <p></p>
        <p>
          <button mat-raised-button (click)="forgotPassword()">Forgot Password?</button>
        </p>
        <p>
          Don't have an account?
          <a routerLink="/register-user">Sign Up</a>
        </p>
        <div class="button">
          <button  mat-raised-button (click)="test(userEmail.value, userPassword.value)" >Log in test</button>
        </div>
        <p></p>
      </form>
  </mat-card-content>
</mat-card> -->

<mat-card>
  <mat-card-title >Log in</mat-card-title>
  <mat-card-content>
    <div class="authBlock">

      <p>
        <mat-form-field>
          <input matInput type="text" class="formControl" placeholder="Username" #userName required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput  type="password" class="formControl" placeholder="Password" #userPassword required>
        </mat-form-field>
      </p>
      
      <div class="button">
        <button  mat-raised-button (click)="authService.SignIn(userName.value, userPassword.value)" >Log in</button>
      </div>

      <p></p>
      <p>Or</p>

      <div class="button">
        <button class="btn googleBtn" (click)="authService.GoogleAuth()"> 
          Continue with Google</button>
      </div>
      <p></p>
      <p>
        <button mat-raised-button (click)="forgotPassword()">Forgot Password?</button>
      </p>
      <p>
        Don't have an account?
      <a routerLink="/register-user">Sign Up</a>
      </p>
    </div>
  </mat-card-content>
  </mat-card>
 